[Unit]
Description=Ogarden Python Application
Documentation=https://github.com/drewlio/ogarden

[Timer]
# Run the task every 12 hours starting at 0600
OnCalendar=06:00/12
Persistent=true

[Install]
WantedBy=timers.target
