[Unit]
Description=Ogarden Python Application
Documentation=https://github.com/drewlio/ogarden
After=network.target

[Service]
WorkingDirectory=/home/drew/ogarden
ExecStart=bash -c "source venv/bin/activate && python app.py"

[Install]
# None specified. 
# We will statically link this file to /etc/systemd/system so that the service
# is not launched when the Raspberry Pi boots up. We only want the service to
# start via the timer. 
