[Unit]
Description=Ogarden Web Interface
Documentation=https://github.com/drewlio/ogarden
After=network.target

[Service]
WorkingDirectory=/home/drew/ogarden
ExecStart=bash -c "source venv/bin/activate && cd web/api && authbind --deep gunicorn -b 127.0.0.1:80 api:app"
Restart=always

[Install]
WantedBy=multi-user.target


